#time{
    
    font-size: 125px;
    color:white;
    padding-top: 13%;
    text-shadow: black 0.1em 0.1em 0.3em;
    text-align: center;
    margin-bottom: -40px;
}
body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
#chao{
    font-size: 45px;
    text-align: center;
    text-shadow: black 0.1em 0.1em 0.3em;
}
#date{
    padding-top: 50px;
    font-size: 24px;
    text-align: center;
    text-shadow: black 0.1em 0.1em 0.3em;
}
#chamngon{
    padding-top: 50px;
    font-size: 28px;
    text-align: center;
    text-shadow: black 0.1em 0.1em 0.3em;
}